<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elaticsearch-content</title>

    <script src="/components/jquery-3.6.0.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body>
<h1>Elaticsearch</h1>

<input class="search-input">

<button class="to-search bing">必应搜索</button>
<button class="to-search baidu">百度搜索</button>
<div id="search-content"></div>
<div class="bing-img"></div>



</body>
</html>