<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" src="/components/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="main">

    <div class="login-form">
        <h2>SignIn Form</h2>
        <div class="agileits-top">
            <form action="#" method="post">
                <div class="styled-input">
                    <input type="text" name="User Name" required=""/>
                    <label>User Name</label>
                    <span></span>
                </div>
                <div class="styled-input">
                    <input type="password" name="Password" required="">
                    <label>Password</label>
                    <span></span>
                </div>
                <div class="wthree-text">
                    <ul>
                        <li>
                            <input type="checkbox" id="brand" value="">
                            <label for="brand"><span></span> Remember me ?</label>
                        </li>
                        <li> <a href="#">Forgot password?</a> </li>
                    </ul>
                    <div class="clear"> </div>
                </div>
            </form>
        </div>
        <div class="agileits-bottom">
            <input type="submit" class="toLogin" value="Sign In">
        </div>
    </div>
</div>
</body>
</html>